@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/francoisone/v15/_Xmr-H4zszafZw3A-KPSZut9wQiU.ttf) format('truetype');
}
:after,
:before {
  content: '';
  position: absolute;
  display: inline-block;
}
body {
  background-color: #6d2539;
}
#container {
  width: 960px;
  height: 450px;
  position: absolute;
  left: 90px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}
#container a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 100;
}
#container a:hover #mercury {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
#mercury {
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 30px solid #ea1e59;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
#mercury:after,
#mercury:before {
  background-color: #ea1e59;
}
#mercury:after {
  width: 120px;
  height: 30px;
  top: calc(150px - 30px/2);
  left: 300px;
}
#mercury:before {
  height: 90px;
  width: 30px;
  top: calc(150px - 45px);
  left: 360px;
}
#iwd_text {
  font-family: 'Francois One', sans-serif;
  line-height: 82px;
  width: 500px;
  height: 360px;
  float: left;
  color: white;
  font-size: 72px;
  margin-left: 80px;
  padding-top: 10px;
}
#iwd_text2 {
  font-family: 'Francois One', sans-serif;
  float: left;
  color: white;
  margin-left: 80px;
  padding-top: 10px;
}

#copyright {
  font-family: 'Francois One', sans-serif;
  color: white;
  position: absolute;
  right: 1rem;
  /* left: 1rem; */
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  flex-wrap: wrap;
}